@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 13px;
  background-image: url(../Images/food.png), url(../Images/abstract.png);
  background-repeat: no-repeat;
  background-position: 85% 50%, 100% -100%;
  background-attachment: fixed;
  background-size: 400px 400px, contain;
}